.carouselSection {
    position: relative;
    margin: 50px 0px;
}

.carouselSection > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carouselTitle {
    font-size: 24px;
    color: white;
    font-weight:500;
}

.errorMessage {
    font-size: 24px;
    color: white;
    font-weight:500;
    text-align: center;
}
